---
- name: "Chrony installation"
  package:
    name: chrony
    state: installed

- name: "Chrony Configuration"
  template:
    src: "chrony.conf.j2"
    dest: "{{ chronyd_configuration_file }}"
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart chronyd

- name: "Chrony Service start"
  service:
    name: chronyd
    state: started
