{% macro body_option(key,override) -%}
{%   set value = undefined %}
{%   if override is defined %}
{%     set value = override %}
{%   elif chronyd[key] is defined %}
{%     set value = chronyd[key] %}
{%   elif chronyd_defaults[key] is defined and chronyd_skip_defaults != true %}
{%     set value = opensshd_defaults[key] %}
{%   endif %}
{{ render_option(key,value) -}}
{%- endmacro %}
